body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.chat-container {
    max-width: 500px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
    color: white;
    padding: 25px;
    text-align: center;
}

.chat-box {
    height: 400px;
    overflow: scroll;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.message {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    max-width: 70%;
}

.right {
    align-self: flex-end;
    background-color: #5ad8fe;
}

.left {
    align-self: flex-start;
    background-color: #fd80d8;
}

.mic-icon {
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #eee;
}

input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 8px 15px;
    background-color: #fa4299;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
